@charset "utf-8";

* {
	box-sizing: border-box;
}

/* design for whole page*/
html, body {
	margin: 0;
	padding: 0;
	background-color: #202833;
	font-family: 'Nirmala UI', sans-serif;
	color: #FFFFFF;
}

.small-only {
	display: none;
}

.container {
	width: 1240px;
	margin: 0 auto;
}

.logo {
	max-width: 200px;
	margin: 35px 0 0 35px;
}

/* nav li menu elements are for menu*/
nav {
	list-style-type: none;
	font-size: 24px;
	overflow: hidden;
}

.menu li {
	float: left;
}

.menu {
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 35px;
}

h3 {
	color: #fff;
}

li a, .dd, .home {
	display: inline-block;
	color: #FFFEFE;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


li a.active {
	border-bottom: 1px solid #fff;
}

.bottlesimg {
	margin: 0px 50px 50px 0;
	float: left;
	max-width: 50%;
}


.homedescrioption {
	margin-right: 35px;
	margin-bottom: 35px;
}

.button {
	margin: 30px auto 0;
	background-color: #88D2D8;
	border-radius: 10px 10px 10px 10px;
	color: black;
	padding: 15px 32px 19px;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
}

/* reviews part, devided in 2 boxes*/
.box1 {
	width: 50%;
	margin-top: 30px;
	padding-right: 35px;
	float: left;
}

.avatar {
	float: left;
	max-width: 100px;
}

.name {
	color: white;
}

.box1 .name {

	margin-left: 20px;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

.reviews {
	overflow: hidden;
	margin: 20px 0;
}

.textinbox {
	width: 500px;

}

.dog {
	max-width: 400px;
	float: left;
	display: block;
	margin-bottom: 100px;
}

.poster {
	max-width: 600px;
	float: left;
	display: block;
	margin-bottom: 100px;
}

.aboutUsDescription {
	float: left;
	display: block;
	width: 300px;
<<<<<<< HEAD
	margin-right: 80px;
=======
	margin-right: 20px;
>>>>>>> 023454e5b3a0ba21c232811ebb528a458d097ab9
	text-align: justify;
}


.col-6 {
	float: left;
	width: 50%;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(3,minmax(40px,auto));

	grid-gap: 10px;
}

.grid-item {
	border: 1px dashed #ccc;
	padding: 15px;
}

.grid-item .button {
	float: right;
	font-size: 20px;
	padding: 10px 32px;
	margin: 0;
}
.grid-item h3 {
	float: left;
	border-bottom: 5px double #fff;
<<<<<<< HEAD
}
.grid-item .text-center {
	clear: both;
	text-align: justify;
}
=======
}
.grid-item .text-center {
	clear: both;
	text-align: justify;
}
>>>>>>> 023454e5b3a0ba21c232811ebb528a458d097ab9

/*for mobile */
@media (max-width: 1239px) {
	.grid-container {
		display: block;
	}
	.grid-item {
		margin-bottom: 15px;
	}
	.grid-item .button {
		width: auto;
	}
	.col-6 {
		float: none;
		width: 100%;
	}

	.aboutUsDescription {
		float: none;
		display: block;
		width: 100%;
		margin-right: 0;
		text-align: justify;
	}

	.dog, .poster {
		width: 100%;
	}

	.container {
		width: 95%;
	}

	.small-only {
		display: block;
	}

	.menu {
		display: none;
	}

	/*for burger menu*/
	.menu.opened {
		display: block;
		background: #0d131d;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		float: none;
	}

	.menu.opened li {
		float: none;
	}

	.menu.opened li a {
		margin: 0;
		color: #88D2D8;
		border: none !important;
	}

	.menu-switch {
		position: absolute;
		right: 30px;
		top: 40px;
		color: #88D2D8;
		z-index: 1000;
	}

	.logo {
		margin: 15px 0 15px 0;
		float: left;
	}

	.bottlesimg {
		float: none;
		max-width: 100%;
		margin: 0;
	}

	.button {
		width: 100%;
		display: block;
	}


	.reviews {
		overflow: hidden;
	}

	.box1 {
		clear: both;
		width: 100%;
		margin-top: 20px;

	}

	.box1 p {
		margin-bottom: 10px;
	}

	.box1 .name {
		float: left;
		margin-left: 3px;
		font-size: 18px;
		margin-top: 18px;
		font-weight: bold;
	}

	.map {
		max-width: 100%;
	}

	.wrapper > * {
		grid-column: col-start / span 12;
	}

/*
	@media (max-width: 5000px) {

		.cont {
			grid-column: 6 / span 3;
			grid-row: 3;
		}

		.order {
			grid-column: 6 / span 2;
			grid-row: 4;

		}

		.cont1 {
			grid-column: col-start / span 3;
			grid-row: 5;
		}

		.cont4 {
			grid-column: 6 / span 3;
			grid-row: 6;
		}

		.cont2 {
			grid-column: col-start / span 3;
			grid-row: 7;
		}

		.cont5 {
			grid-column: 6 / span 3;
			grid-row: 8;
		}

		.cont3 {
			grid-column: col-start / span 3;
			grid-row: 9;
		}
	}
*/
}

	.product1 {
		max-width: 100%;
		grid-column: 5 / span 4;

	}


